#container {
    width: 960px;
    margin: auto auto;
}

p {
    font-size: 20px;;
}

code {
    font-size: 15px;
    
}

.codeTitle {
    color: orange;
    display: inline;
}

.codeName {
    color: blue;
    display: inline;
}

pre {
    display: block;
    width: min-content;
    background-color: #ffeff0;
}